.index{
    display:flex;
    flex-direction: column;
    gap: 30px;
    background-color: violet;
}

.listDivisions{

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        color:#fff;
    }

}
