@font-face {
  font-family: "MonumentExtended";
  src: local("MonumentExtended"),
    url("../font/MonumentExtended-Regular.woff2") format("woff2");
  /* Agrega aquí otros formatos de fuente si los tienes disponibles */
}

@font-face {
  font-family: "MonumentGrotesk";
  src: local("MonumentGrotesk"),
    url("../font/MonumentGrotesk-Regular.woff") format("woff2");
  /* Agrega aquí otros formatos de fuente si los tienes disponibles */
}

@font-face {
  font-family: "Matter";
  src: url(../font/matter-light.woff2) format("woff2");
}

a{
  color:#fff;
  text-decoration: none;
}

.redirectHome{
  position: fixed;
  top: 20px;
  left:40px;
  font-size: 30px;
}

:root {
  --title-size: max(5em, 7.5vw);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
}

header{
  display:flex;
  justify-content: center;
  align-items: center;
}

.containerContact {
  width: 100%;
  margin: auto;
}

.page {
  width: 100%;
  height: 90vh;
}

.containerInfoPage {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titleFirstPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  h1 {
    font-family: "MonumentExtended", "sans-serif";
    font-size: calc(var(--title-size) * 0.9);
    font-weight: bold;
    line-height: 100%;
  }

  p {
    font-family: "Space Grotesk", "sans-serif";
    width: 100%;
    line-height: 110%;
    font-size: calc(var(--title-size) * 0.17);
  }

  form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .rowInput {
      width: 48%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;

      p {
        font-size: 1.1rem;
      }

      input {
        width: 100%;
        z-index: 1;
        height: 45px;
        color: #fff;
        background-color: #101010;
        border: 1.5px solid #1c1c1c;
        border-radius: 2px;
        margin-bottom: 0;
        padding-top: 11px;
      }

      textarea{
        width: 100%;
        color: #fff;
        background-color: #101010;
        border: 1.5px solid #1c1c1c;
        border-radius: 2px;
        margin-bottom: 0;
        padding-top: 11px;
      }

    }

    .lastRowInput {
      width: 100%;
    }

    button {
      width: 150px;
      background-color: #fff;
      color: #000;
      letter-spacing: 0;
      text-transform: uppercase;
      border: 0 solid #000;
      border-radius: 2px;
      padding: 15px 0;
      font-size: 1rem;
      font-weight: 500;
      margin-top: 20px;
      line-height: 20px;
    }
  }
}

.btnContinue {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;

  .point {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 9999px;
  }

  .btnFirstpage {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
  }
}

/* Seguna página */

.secondPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerInfoSecondPage {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10vh;

  .presentation {
    display: flex;
    flex-direction: column;
    gap: 10vh;

    .nameAndLastName {
      display: flex;
      gap: 30px;
      width: 60%;

      input {
        width: 50%;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
      }
    }
  }

  .lookingServices {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vh;

    .offerServices {
      ul {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        li {
          width: auto;
          padding: 30px;
          border-radius: 16px;
          background-color: #fff;
          list-style: none;
          font-family: "Matter", "sans-serif";
          font-weight: 500;
          font-size: calc(var(--title-size) * 0.2);
          color: #000;
          cursor: pointer;
          transition: 0.4s transform ease-in-out;
        }

        li:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* Tercer página */

.containerInfoThirdPage {
  width: 65%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;

  .titleThirdPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .contInput {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 2vh;

      p {
        width: 100%;
      }

      input {
        width: 100%;
        height: 60px;
        border: 1px solid #131313;
        background-color: #101010;
        color: #fff;
      }

      input::placeholder {
        color: rgba(255, 255, 255, 0.21);
      }
    }
  }
}
