/* Estilos Generales */

:root {
  --color-dark-rgb: 0, 0, 0;
  --color-dark: rgba(var(--color-dark-rgb), 1);
  --color-light-rgb: 245, 247, 250;
  --color-light: rgba(var(--color-light-rgb), 1);
  --color-white-rgb: 255, 255, 255;
  --color-white: rgba(var(--color-white-rgb), 1);
  --color-black-rgb: 0, 0, 0;
  --color-black: rgba(var(--color-black-rgb), 1);
  --e-global-color-text: #172228;
  --e-global-color-accent: #f6632f;
  --e-global-color-777e6ab: #fb9c5c;
  --e-global-color-4634ee8: #ffffff;
  --color-secondary: #ffe600;
  --color-gray: #c1c3c7;
  --color-lightgray: #e6e8eb;
  --color-border-rgb: 159, 161, 163;
  --color-border: rgba(var(--color-border-rgb), 0.225);
  --color-border-600: rgba(var(--color-border-rgb), 0.35);
  --color-border-800: rgba(var(--color-border-rgb), 0.45);
  --color-border-900: rgba(var(--color-border-rgb), 1);
  --color-border-light: var(--color-border-light);
  --color-text: rgba(var(--color-dark-rgb), 0.7);
  --color-text-light: rgba(var(--color-light-rgb), 0.7);
  --color-alert-error: var(--color-primary);
  --color-alert-success: #46d054;
  --animation-primary: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
  --animation-fast: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
  --animation-smooth: 0.6s cubic-bezier(0.75, 0, 0.25, 1);
  --animation-navigation: 1.2s cubic-bezier(0.75, 0, 0.25, 1);
  --animation-navigation: 0.6s cubic-bezier(0.6, 0, 0.4, 1);
  --animation-navigation-forward: 1s cubic-bezier(0.8, 0, 0.1, 1);
  --animation-navigation-backward: 0.6s cubic-bezier(0.8, 0, 0.1, 1);
  --animation-navigation-fade: 0.3s ease-in-out;
  --section-padding: min(9vw, 9em);
  --container-padding: var(--col-gap);
  --row-padding: clamp(2em, 4vw, 4em);
  --col-padding: clamp(2em, 4vw, 4em);
  --row-gap: max(1.75em, 1.75vw);
  --col-gap: max(1.75em, 1.75vw);
  --title-size: max(5em, 7.5vw);
  --border-radius: 0.35em;
  --main-navigation-height: 4.6em;
  --gap-texts: 2vh;
  --margin-sections: 20vh;
  --single-grid-col: calc((99.99vw - (var(--col-gap) * 2)) / 4);
  /* #FE4F31 */
}

@font-face {
  font-family: "MonumentExtended";
  src: local("MonumentExtended"),
    url("../font/MonumentExtended-Regular.woff2") format("woff2");
  /* Agrega aquí otros formatos de fuente si los tienes disponibles */
}

@font-face {
  font-family: "MonumentGrotesk";
  src: local("MonumentGrotesk"),
    url("../font/MonumentGrotesk-Regular.woff") format("woff2");
  /* Agrega aquí otros formatos de fuente si los tienes disponibles */
}

@font-face {
  font-family: "Matter";
  src: url(../font/matter-light.woff2) format("woff2");
}

a {
  text-decoration: none;
  color: #fff;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  z-index: 1;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Fin Estilos Generales */

/* -------------------------- */

/* Estilos Cursor, Loader */

.cursor-shadow {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  pointer-events: none;
  z-index: 2;
  display: none;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
}

.col {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  transition: 0.5s height ease-in-out;
}

/* Fin Estilos Cursor, Loader */

/* -------------------------- */

/* Estilos Nav, Header */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  width: 100%;
  margin: auto;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.menuHamburguer {
  position: fixed;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
  display:none;
}

.contentHamburguer{
  position: fixed;
  display: none;
  flex-direction: column;
  gap:20px;
  bottom:0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: 9999;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  
  a{
    padding:10px;
    width: 80%;
    margin:auto;
    color:#000;
    border-bottom: 1px solid #131313;
  }

  /* flex-direction: column;
  justify-content: space-between;
  text-align: right;
  right: 30px;
  height: 200px; */
}

.navContainer {
  width: 90%;
  height: 10%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-family: "MonumentExtended";
  }

  .mini-desktop {
    display: flex;
    gap: 30px;
    align-items: center;

    a {
      text-decoration: none;
      color: #fff;
      transition: all 0.5 ease;
    }

    a:hover {
      border-bottom: 1px solid #f6632f;
    }
  }
}

#buttonContact {
  background-color: #f6632f;
  padding: 10px 20px 10px 20px;
  color: #fff;
  border-radius: 16px;
}

/*  */

.company {
  width: 100%;
  margin: auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #nameCompany {
    font-family: "MonumentExtended", "sans-serif";
    font-size: calc(var(--title-size) * 1.5);
    font-weight: bold;
    z-index: 9998;
    transition: 0.3s color ease-in-out;

    span {
      color: #000;
      transition: color 0.3s ease-in-out;
    }
  }
}

.descrip {
  text-align: center;
  display: flex;
  justify-content: center;

  p {
    font-size: calc(var(--title-size) * 0.2);
    width: 50%;
  }
}

.scrollCircle {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #fff;
  background-color: transparent;
}

.circleTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fin Estilos contenido del Header (Nombre empresa y breve descripcion) */

/* ---------------------------------- */

/* Estilos About Us */

.about {
  width: 90%;
  margin: auto;
  margin-top: var(--margin-sections);
}

.titleAbout {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1rem 0.3rem 2rem;
  background-color: hsla(0, 0%, 78%, 0.1);
  border-radius: 6.25rem;
}

.titleAbout::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 0.375rem;
  height: 0.375rem;
  margin-top: -0.1875rem;
  border-radius: 50%;
  background-color: #f6632f;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 225ms;
}

.descripAbout {
  margin-top: 4vh;

  h2 {
    font-size: 5.9vw;
    font-family: "Space Grotesk";
    font-weight: 500;
    line-height: 94%;
    width: 100%;

    span {
      color: #fb9c5c;
      transition: transform 0.3s ease-in-out;
    }
  }
}

/* Fin Estilos About Us */

/* -------------------- */

/* Estilos Servicios */
.services {
  width: 90%;
  margin: auto;
  margin-top: var(--margin-sections);
}

.cubeContainer {
  display: flex;
  width: 100%;
  height: 70vh;
  margin-top: 5vh;
}

.containerBox {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bigBox {
  width: 45%;
  height: 50%;
  background-color: #131313;
  transition: background-color 0.3s ease-in-out;
}

.displayCont {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionsCont > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;

  li {
    list-style: none;

    p {
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(var(--color-light-rgb), 0.5);
      transition: var(--animation-primary);
      cursor: pointer;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
    }
  }
}

.firstSection {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.titleCont {
  p {
    font-size: calc(var(--title-size) * 0.315);
    font-weight: 400;
    font-family: "MonumentExtended", "sans-serif";
    line-height: 1;
  }
}

/* Fin Estilos Servicios */

/* -------------------- */

/* Estilos Work */

.work {
  width: 90%;
  margin: auto;
  margin-top: var(--margin-sections);

  .descripWork {
    p {
      font-family: "Space Grotesk", "sans-serif";
      font-size: calc(var(--title-size) * 0.315);
      margin-top: var(--gap-texts);
    }
  }

  .contentCards {
    width: 100%;
    height: auto;
    margin-top: 5vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 40px;

    .cardWork {
      width: 20%;
      height: 65vh;
      padding: 20px;
      background-color: transparent;
      border: 1px solid #fff;
      font-family: "Space Grotesk";

      .firstDivisionCardWork {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: calc(var(--title-size) * 0.115);

        #timeService {
          color: #ababab;
          font-weight: bold;
        }

        #nameService {
          font-size: calc(var(--title-size) * 0.215);
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 25px;

          li {
            list-style: none;
            display: flex;
            gap: 10px;
          }
        }
      }

      .secondDivisionCardWork {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: end;
        justify-content: center;

        button {
          background-color: #fff;
          border: none;
          width: 100%;
          font-size: calc(var(--title-size) * 0.115);
          padding: 20px;
          cursor: pointer;

          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
}
/* Fin Estilos Work */

/* ---------------- */

/* Estilos Proyectos */

.bestProjects {
  background-color: #000;
  margin-top: var(--margin-sections);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.pin-spacer {
  margin-top: 0 !important;
}

.containerBestProjects {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-texts);

  h2 {
    font-family: "MonumentExtended", "sans-serif";
    font-size: calc(var(--title-size) * 1);
    font-weight: bold;
    color: #fff;
    line-height: 82%;
  }

  p {
    font-family: "Space Grotesk", "sans-serif";
    font-size: calc(var(--title-size) * 0.3);
    color: #fff;
  }
}

.racesWrapper {
  width: 90%;
  margin: auto;
}

.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  margin-top: var(--gap-texts);

  ul {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;

    li {
      list-style: none;
    }
  }
}

/* Probando */

.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 50vw;
  height: 60vh;
  padding-right: 0.3em;
  padding-left: 0.3em;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;

  .fondoImagenWork {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;

    .descripcionWork {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .titleWork {
        width: 95%;
        padding-top: 10px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          line-height: 100%;
          font-family: "MonumentExtended";
          font-size: calc(var(--title-size) * 0.2);
        }

        p {
          font-family: "Space Grotesk";
          font-weight: bold;
          padding: 10px 20px 10px 20px;
          border: 2px solid #fff;
          border-radius: 16px;
        }
      }

      .detailWork {
        width: 95%;
        margin: auto;
      }
    }
  }

  .fondoImagenWork1 {
    background-image: url(../images/1.png);
  }

  .fondoImagenWork2 {
    background-image: url(../images/3.png);
  }

  .fondoImagenWork3 {
    background-image: url(../images/2.png);
  }

  .fondoImagenWork4 {
    background-image: url(../images/4.png);
  }
}

.cardFacilPNG {
  .thefront .fondoImagenWork .descripcionWork .titleWork {
    color: #000;

    p {
      border: 1px solid #000;
    }
  }
}

.cardCodebuilders {
  .thefront .fondoImagenWork .descripcionWork .titleWork {
    color: #000;

    p {
      border: 1px solid #000;
    }
  }
}

.cardEndom {
  .thefront .fondoImagenWork .descripcionWork .titleWork {
    color: #000;

    p {
      border: 1px solid #000;
    }
  }
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.lastCard {
  .thefront {
    .fondoImagenWork {
      height: 100%;
      background-image: none;
      background-color: #131313;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      color: #fff;
      font-size: calc(var(--title-size) * 0.3);
    }
  }

  .descripcionWork {
    height: 0%;
    display: none;
  }
}

.lastCard:hover {
  transform: none;
}

.backFacilPNG {
  background-image: url(../images/backFacilPNG.jpg);
}

.backEndom {
  background-image: url(../images/backEndom.jpg);
}

.backBuenConsejo {
  background-image: url(../images/backBuenConsejo.jpg);
}

.backCodebuilders {
  background-image: url(../images/backCodebuilders.jpg);
}

/*                 */

.lightBG {
  background: #fff;
}

.space-50vh {
  margin-top: var(--margin-sections);
}

/* Fin Estilos Proyectos */

/* ---------------- */

/* Estilos Team */
.team {
  width: 90%;
  margin: auto;
  height: auto;
  margin-top: var(--margin-sections);
}

.aboutTeam {
  margin-top: 3vh;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;

  h2 {
    line-height: 100%;
    font-family: "Space Grotesk";
    font-size: calc(var(--title-size) * 0.4);
  }

  p {
    font-family: "Space Grotesk";
    font-size: calc(var(--title-size) * 0.14);
    width: 50%;
  }
}

.containerCardsTeam {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: 3vh;

  .cardTeam1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/retrato.jpeg);
  }
}

.cardTeam {
  width: 20%;
  height: 50vh;
  padding: var(--row-gap) var(--col-gap);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/retrato.jpeg);

  .contentCardTeam {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: end;

    .infoPersonal {
      width: 100%;
      justify-content: end;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .nameAndJob {
        display: flex;
        flex-direction: column;
        gap: 7px;

        :nth-child(2n) {
          color: rgba(var(--color-light-rgb), 0.5);
        }
      }

      .socialMedias {
        display: flex;
        gap: 10px;
      }
    }

    p {
      line-height: 100%;
      font-family: "Space Grotesk";
      font-size: calc(var(--title-size) * 0.12);
    }
  }
}

/* Fin Estilos Team */

/* ---------------- */

/* Estilos Contact */

.contact {
  width: 90%;
  margin: auto;
  margin-top: var(--margin-sections);
  height: 30vh;
  padding-top: 20px;

  .contContact {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    justify-content: space-between;
    margin-top: 5vh;

    h2 {
      font-family: "MonumentExtended", "sans-serif";
      font-size: calc(var(--title-size) * 1.5);
      line-height: 100%;
    }

    h3 {
      font-family: "Space Grotesk", "sans-serif";
      font-size: calc(var(--title-size) * 0.5);
      line-height: 100%;

      a {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #f6632f;
      }
    }

    #redirectContact {
      font-family: "Space Grotesk", "sans-serif";
      font-size: calc(var(--title-size) * 0.3);
      background-color: #fff;
      color: #000;
      padding: 30px;
      border-radius: 9999px;
    }
  }
}

/* Fin Estilos Contact */

/* ------------------ */

/* Estilos Footer */

footer {
  width: 100%;
  height: 30vh;
  margin-top: var(--margin-sections);

  .contentFooter {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;

    a {
      color: #fff;
      text-decoration: none;
      font-family: "Space Grotesk";
    }

    .contFooter {
      display: flex;
      gap: 10px;
    }
  }
}

/* Fin Estilos Footer */

@media screen and (max-width: 1500px) {
  /* Estilos Inicio */
  .descrip {
    p {
      font-size: calc(var(--title-size) * 0.22);
    }
  }

  /* Estilos Servicios Cards */
  .contentCards {
    flex-wrap: wrap;
    gap: 40px;
  }

  .cardWork {
    width: 40% !important;
  }

  .firstDivisionCardWork > p {
    font-size: calc(var(--title-size) * 0.2);
  }

  .itemsService > li > p {
    font-size: calc(var(--title-size) * 0.15) !important;
  }

  #timeService {
    font-size: calc(var(--title-size) * 0.15);
  }

  .firstDivisionCardWork {
    font-size: calc(var(--title-size) * 0.315);
  }

  .work .contentCards .cardWork .secondDivisionCardWork button a {
    font-size: calc(var(--title-size) * 0.2);
  }

  /* Estilos Scroll Vertical */
  .races ul {
    flex-direction: column;
  }

  .thecard {
    width: 90vw;
  }

  /* Estilos Equipo */
  .containerCardsTeam {
    gap: 50px;
  }

  .aboutTeam {
    p {
      font-size: calc(var(--title-size) * 0.15);
    }
  }

  .cardTeam {
    width: 25%;

    .contentCardTeam {
      p {
        font-size: calc(var(--title-size) * 0.15);
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  /* Estilos Valores (Box container) */

  .cubeContainer {
    height: 40vh;

    .sectionsCont > ul li p {
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(var(--color-light-rgb), 0.5);
      transition: var(--animation-primary);
      cursor: pointer;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
      font-size: calc(var(--title-size) * 0.15);
    }
  }

  /* Fin Estilos Valores */

  /*  */

  /* Estilos Servicios */
  .cardWork {
    width: 40% !important;
  }

  .itemsService > li > p {
    font-size: calc(var(--title-size) * 0.17) !important;
  }

  /* Estilos mejores proyectos */

  /* Estilos Team */
  .containerCardsTeam {
    flex-direction: column;
  }

  .aboutTeam p {
    font-size: calc(var(--title-size) * 0.2);
  }

  .cardTeam {
    width: 35%;
  }
}

@media screen and (max-width: 1000px) {
  .navContainer {
    display: none;
  }

  .menuHamburguer{
    display:flex;
  }

  .contentHamburguer{
    display:flex;
  }

  #nameCompany{
    font-size: calc(var(--title-size) * 1.2) !important;
  }

  /* Estilos Header */
  .descrip p {
    width: 90%;
    font-size: calc(var(--title-size) * 0.32);
  }

  /* Estilos About */
  .descripAbout h2 {
    font-size: calc(var(--title-size) * 0.45);
  }

  /* Estilos Cube Container (Valores) */
  .services {
    height: 30vh;
  }

  .titleCont p {
    font-size: calc(var(--title-size) * 0.4);
  }

  .containerBox {
    display: none;
  }

  .displayCont {
    width: 100%;
  }

  /* Estilos Servicios */
  .cardWork {
    width: 100% !important;
  }

  .work .contentCards .cardWork .firstDivisionCardWork #timeService {
    font-size: calc(var(--title-size) * 0.3);
  }

  .work .contentCards .cardWork .firstDivisionCardWork #nameService {
    font-size: calc(var(--title-size) * 0.4);
  }

  .firstDivisionCardWork > p {
    font-size: calc(var(--title-size) * 0.35);
  }

  .itemsService > li > p {
    font-size: calc(var(--title-size) * 0.3) !important;
  }

  .work .contentCards .cardWork .secondDivisionCardWork button a {
    font-size: calc(var(--title-size) * 0.3);
  }

  /* Estilos Trabajos Realizados */
  .thecard {
    height: 40vh;
  }

  /* Estilos Card Team */
  .cardTeam {
    width: 50% !important;
  }

  .aboutTeam p {
    width: 100%;
    font-size: calc(var(--title-size) * 0.2);
  }

  .cardTeam .contentCardTeam p {
    line-height: 100%;
    font-family: "Space Grotesk";
    font-size: calc(var(--title-size) * 0.17);
  }
}

@media  screen and (max-width: 800px) {
  
  #nameCompany{
    font-size: calc(var(--title-size) * 0.8) !important;
  }

  .contact .contContact h2 {
    font-size: calc(var(--title-size) * 0.6);
}

}

@media screen and (max-width: 500px) {
  /* Estilos Header */

  .descrip p {
    font-size: calc(var(--title-size) * 0.25);
  }

  /* Estilos About */
  .about {
    margin-top: 0;
  }

  .descripAbout h2 {
    font-size: calc(var(--title-size) * 0.3);
  }

  /* Estilos Valores */
  .services {
    height: 50vh;
  }

  .sectionsCont > ul {
    flex-wrap: wrap;
  }

  /* Estilos Servicios */
  .cardWork {
    height: 70vh !important;
  }

  /* Estilos Proyectos */
  .containerBestProjects {
    h2 {
      font-size: calc(var(--title-size) * 0.6);
    }

    p {
      font-size: calc(var(--title-size) * 0.25);
    }
  }

  .bestProjects{
    margin-top: 0;
  }

  .thecard {
    height: 30vh;
    transform-style: none;

    .thefront .fondoImagenWork {
      background-size: cover;
    }
  }

  .theback{
    background-position: center;
  }

  /* Estilos Team */
  .team{
    margin-top: 10vh;
  }

  .cardTeam {
    width: 60% !important;
  }

  /* Estilos Contacto */
  .contact .contContact h3 {
    font-size: calc(var(--title-size) * 0.3);
  }

  .contact .contContact h2 {
    font-size: calc(var(--title-size) * 0.6);
  }

  /* Estilos Footer */
  footer {
    height: 10vh;
  }
}

@media screen and (max-width: 350px) {
}
